Repository pymc-devs/pytensor, pull requests merged in 2022-12, with the labels that each got.

#69 Stop using deprecated generated_jit
  pytensor/link/numba/dispatch/basic.py
Labels: maintenance, numba

#95 Improve numba DimShuffle compile time
  pytensor/link/numba/dispatch/elemwise.py
Labels: numba, performance concern

#108 Match error message in function graph tests
  tests/graph/test_fg.py
Labels: no releasenotes, tests

#123 Fix JAX dispatch for multi-output Composite
  pytensor/link/jax/dispatch/scalar.py
  tests/link/jax/test_scalar.py
Labels: bug, jax

#118 Allow passing static shape to tensor creation helpers
  pytensor/sparse/basic.py
  pytensor/sparse/rewriting.py
  pytensor/tensor/basic.py
  pytensor/tensor/blas.py
  pytensor/tensor/io.py
  pytensor/tensor/math.py
  pytensor/tensor/shape.py
  pytensor/tensor/type.py
  tests/graph/test_basic.py
  tests/link/numba/test_elemwise.py
  tests/link/numba/test_random.py
  tests/scan/test_printing.py
  tests/tensor/random/test_basic.py
  tests/tensor/random/test_op.py
  tests/tensor/random/test_utils.py
  tests/tensor/rewriting/test_basic.py
  tests/tensor/rewriting/test_elemwise.py
  tests/tensor/rewriting/test_math.py
  tests/tensor/rewriting/test_shape.py
  tests/tensor/rewriting/test_subtensor.py
  tests/tensor/test_basic.py
  tests/tensor/test_elemwise.py
  tests/tensor/test_extra_ops.py
  tests/tensor/test_shape.py
  tests/tensor/test_type.py
  tests/test_ifelse.py
Labels: enhancement, major, refactor

#133 Make tests compatible with newer version of JAX
  tests/link/jax/test_basic.py
Labels: jax, maintenance, tests

#129 🔄 From Aesara: 1362: "Add `HalfNormalRV` JAX implementation"
  pytensor/link/jax/dispatch/random.py
  tests/link/jax/test_random.py
Labels: aesara downstream

#159 Fix automatic release notes label reference
  .github/release.yml
Labels: no releasenotes
