Repository pymc-devs/pytensor, pull requests merged in 2023-06, with the labels that each got.

#326 Fix failing CI in Python 3.8 and install numba/jax on specific runs
  .github/workflows/test.yml
  setup.cfg
  tests/link/jax/test_tensor_basic.py
  tests/link/numba/test_basic.py
  tests/link/numba/test_cython_support.py
  tests/link/numba/test_performance.py
  tests/link/numba/test_sparse.py
Labels: GitHub CI/CD, no releasenotes

#336 Don't recommend `pydot-ng`
  doc/library/d3viz/index.rst
Labels: docs

#339 Update index.ipynb
  doc/library/d3viz/index.ipynb
Labels: docs, no releasenotes

#344 Make Split a view op
  pytensor/tensor/basic.py
  tests/link/numba/test_tensor_basic.py
  tests/tensor/rewriting/test_basic.py
  tests/tensor/test_basic.py
Labels: bug, numba

#345 Use static-only broadcasting rules to compute shape of broadcasting
  pytensor/tensor/extra_ops.py
  tests/tensor/rewriting/test_basic.py
  tests/tensor/rewriting/test_math.py
  tests/tensor/test_extra_ops.py
  tests/unittest_tools.py
Labels: major, static shape

#354 Stop using deprecated `numpy.product`
  pytensor/scalar/basic.py
  tests/link/jax/test_extra_ops.py
  tests/tensor/test_extra_ops.py
  tests/tensor/test_subtensor.py
Labels: maintenance, no releasenotes

#359 Fix bug in `boolean_indexing_set_or_inc`
  pytensor/tensor/rewriting/jax.py
Labels: bug, jax, graph rewriting

#362 Fix failing test due to change in JAX behavior
  tests/link/jax/test_tensor_basic.py
Labels: jax, maintenance, no releasenotes, tests
