Repository pymc-devs/pytensor, pull requests merged in 2023-08, with the labels that each got.

#404 Add numpy constants to pytensor.tensor scope
  pytensor/tensor/__init__.py
Labels: maintenance, NumPy compatibility

#405 Retain more precise types in MergeOptimizer
  pytensor/graph/rewriting/basic.py
  tests/graph/rewriting/test_basic.py
Labels: bug, graph objects, graph rewriting

#412 Fix docstrings reference for the betainc_grad function
  pytensor/scalar/math.py
Labels: docs

#416 Fix typo in profile summary printing function
  pytensor/graph/rewriting/basic.py
  tests/test_printing.py
Labels: bug

#420 Fix numba implementation of CumOp when axis is None
  pytensor/link/numba/dispatch/extra_ops.py
  pytensor/tensor/extra_ops.py
  pytensor/tensor/var.py
  tests/link/numba/test_extra_ops.py
Labels: bug, numba

#417 Add `Op` corresponding to `scipy.linalg.solve_discrete_are`
  pytensor/tensor/slinalg.py
  tests/tensor/test_slinalg.py
Labels: enhancement, Op implementation, SciPy compatibility, linalg
