Repository pymc-devs/pytensor, pull requests merged in 2023-10, with the labels that each got.

#461 Fail graciously in local_pow_to_nested_squaring when static type shape is updated
  pytensor/tensor/rewriting/math.py
  tests/tensor/rewriting/test_math.py
Labels: bug, graph rewriting, static shape

#467 Use boolean `__props__` in `SVD` `Op`
  pytensor/tensor/nlinalg.py
Labels: bug, jax

#468 Correctly report the elemwise output type in Numba
  pytensor/link/numba/dispatch/elemwise.py
  tests/link/numba/test_elemwise.py
Labels: bug, numba

#475 Fix static type shape bug
  pytensor/tensor/random/op.py
  pytensor/tensor/type.py
  tests/tensor/random/test_basic.py
  tests/tensor/test_basic.py
  tests/tensor/test_type.py
Labels: bug, static shape
