Repository pymc-devs/pytensor, pull requests merged in 2023-05, with the labels that each got.

#235 Speedup Numba Scans with vector inputs
  pytensor/link/numba/dispatch/scan.py
  tests/link/numba/test_scan.py
Labels: numba, computational speed, scan

#288 Fix JAX Scan for output ndim > 1
  pytensor/link/jax/dispatch/scan.py
  tests/link/jax/test_scan.py
Labels: bug, jax, scan

#294 Add jax implementation of `pt.linalg.pinv`
  pytensor/link/jax/dispatch/nlinalg.py
  tests/link/jax/test_nlinalg.py
Labels: enhancement, jax, backend compatibility, NumPy compatibility

#296 Fix pinv jax test and support hermitian flag
  pytensor/link/jax/dispatch/nlinalg.py
  tests/link/jax/test_nlinalg.py
Labels: enhancement, jax, no releasenotes, tests, backend compatibility

#297 Don't fail on benchmark alert
  .github/workflows/test.yml
Labels: GitHub CI/CD, no releasenotes, computational speed

#302 Add JAX support for `pt.tri`
  pytensor/link/jax/dispatch/tensor_basic.py
  tests/link/jax/test_tensor_basic.py
Labels: enhancement, jax, backend compatibility

#318 Fix mixed dtype bug in `gammaincc_grad`
  pytensor/scalar/math.py
  tests/scalar/test_math.py
Labels: bug, gradient implementations

#320 Remove stubborn spectral_radius_bound
  pytensor/tensor/rewriting/linalg.py
Labels: maintenance, no releasenotes
