Repository pymc-devs/pytensor, pull requests merged in 2023-09, with the labels that each got.

#424 Rename module `pytensor.tensor.var` to `pytensor.tensor.variable`
  .pre-commit-config.yaml
  pytensor/link/basic.py
  pytensor/link/jax/dispatch/subtensor.py
  pytensor/scan/op.py
  pytensor/scan/rewriting.py
  pytensor/scan/utils.py
  pytensor/sparse/basic.py
  pytensor/tensor/__init__.py
  pytensor/tensor/basic.py
  pytensor/tensor/conv/abstract_conv.py
  pytensor/tensor/elemwise.py
  pytensor/tensor/extra_ops.py
  pytensor/tensor/fourier.py
  pytensor/tensor/math.py
  pytensor/tensor/nlinalg.py
  pytensor/tensor/random/op.py
  pytensor/tensor/random/utils.py
  pytensor/tensor/rewriting/basic.py
  pytensor/tensor/rewriting/elemwise.py
  pytensor/tensor/rewriting/jax.py
  pytensor/tensor/rewriting/math.py
  pytensor/tensor/rewriting/subtensor.py
  pytensor/tensor/shape.py
  pytensor/tensor/sharedvar.py
  pytensor/tensor/slinalg.py
  pytensor/tensor/type.py
  pytensor/tensor/var.py
  pytensor/tensor/variable.py
  pytensor/typed_list/basic.py
  scripts/mypy-failing.txt
  tests/graph/test_basic.py
  tests/link/test_vm.py
  tests/tensor/rewriting/test_math.py
  tests/tensor/test_basic.py
  tests/tensor/test_shape.py
  tests/tensor/test_variable.py
  tests/typed_list/test_basic.py
Labels: maintenance

#415 DOC: Fix docstrings in gradient.py
  pytensor/gradient.py
Labels: docs

#429 Allow single variable output in vectorize
  pytensor/graph/replace.py
  pytensor/tensor/blockwise.py
  tests/graph/test_replace.py
Labels: maintenance, no releasenotes

#435 Fix SoftmaxGrad failure with constant dy in numba backend
  pytensor/link/numba/dispatch/elemwise.py
  tests/link/numba/test_elemwise.py
Labels: bug, numba

#438 Fix bug in `local_dimshuffle_subtensor` rewrite
  pytensor/tensor/rewriting/uncanonicalize.py
  tests/tensor/rewriting/test_uncanonicalize.py
Labels: bug, graph rewriting

#427 Exclude backend incompatible rewrites in Scan dispatch
  pytensor/link/jax/dispatch/scan.py
  pytensor/link/numba/dispatch/scan.py
  tests/link/jax/test_scan.py
Labels: bug, jax, numba, backend compatibility, graph rewriting, scan

#446 Pin numpy upper version
  environment.yml
  pyproject.toml
Labels: release

#450 Exclude local_careduce_fusion from Numba backend
  pytensor/compile/mode.py
Labels: bug, numba, graph rewriting

#423 Add numba overload for `solve_triangular`
  pytensor/link/numba/dispatch/__init__.py
  pytensor/link/numba/dispatch/slinalg.py
  tests/link/numba/test_nlinalg.py
  tests/link/numba/test_slinalg.py
Labels: enhancement, numba, backend compatibility, linalg

#460 Do not invert Gamma rate and fix JAX implementation of Gamma and Pareto
  pytensor/link/jax/dispatch/random.py
  pytensor/tensor/random/basic.py
  pytensor/tensor/random/rewriting/jax.py
  tests/link/jax/test_random.py
  tests/link/numba/test_random.py
  tests/tensor/random/test_basic.py
Labels: bug, jax, major, Op implementation, random variables
