Repository pymc-devs/pytensor, pull requests merged in 2023-01, with the labels that each got.

#166 Add dependabot config
  .github/dependabot.yml
Labels: GitHub CI/CD, maintenance, no releasenotes

#175 Handle invalid BroadcastTo shape in C backend
  pytensor/tensor/extra_ops.py
  tests/tensor/test_extra_ops.py
Labels: bug, C-backend

#185 Seed logsumexp benchmark tests
  tests/link/jax/test_elemwise.py
  tests/link/numba/test_elemwise.py
Labels: maintenance, tests, performance concern

#195 Adjust setup-miniconda parameters
  .github/workflows/test.yml
Labels: bug, GitHub CI/CD, no releasenotes

#200 Extend support of RandomVariables in JAX backend
  .github/workflows/test.yml
  pytensor/link/jax/dispatch/extra_ops.py
  pytensor/link/jax/dispatch/random.py
  pytensor/tensor/random/rewriting/jax.py
  tests/link/jax/test_random.py
Labels: enhancement, jax, backend comptatibility, random variables
