Repository pymc-devs/pytensor, pull requests merged in 2024-11, with the labels that each got.

#1068 Implement unconditional constant_folding rewrite
  pytensor/tensor/rewriting/basic.py
  tests/tensor/rewriting/test_basic.py
Labels: enhancement, graph rewriting

#1085 support `on_unused_input` for string parameter names in `eval`
  pytensor/graph/basic.py
  tests/graph/test_basic.py
Labels: maintenance

#1032 Allow for more elemwise torch functions using `broadcast_tensor` and `vmap`
  pytensor/link/pytorch/dispatch/elemwise.py
  tests/link/pytorch/test_elemwise.py
Labels: enhancement, torch

#1066 Torch dispatch for scipy-like functions and Softplus
  pytensor/link/pytorch/dispatch/elemwise.py
  pytensor/link/pytorch/dispatch/scalar.py
  tests/link/pytorch/test_basic.py
Labels: enhancement, torch

#1091 Cross link across random variable docs
  doc/library/tensor/random/index.rst
  doc/tutorial/examples.rst
  doc/tutorial/prng.rst
Labels: docs

#1108 Support multidimensional boolean set/inc_subtensor in Numba via rewrite
  pytensor/tensor/rewriting/subtensor.py
  pytensor/tensor/subtensor.py
  tests/link/numba/test_subtensor.py
Labels: numba, backend compatibility, indexing
