Repository pymc-devs/pytensor, pull requests merged in 2024-10, with the labels that each got.

#974 Add torch implementation of IfElse
  pytensor/link/pytorch/dispatch/basic.py
  tests/link/pytorch/test_basic.py
Labels: enhancement, torch

#1009 Remove error check in ConfigParser
  pytensor/configparser.py
  tests/test_config.py
Labels: maintenance

#1011 Correct usage of file context in profiling outputs
  pytensor/compile/profiling.py
Labels: bug

#761 Canonicalize Subtensor slices
  pytensor/tensor/rewriting/subtensor.py
  tests/tensor/rewriting/test_subtensor.py
Labels: graph rewriting

#888 Merge consecutive reduces
  pytensor/tensor/rewriting/math.py
  tests/tensor/rewriting/test_math.py
Labels: maintenance, graph rewriting

#1023 Implement Cast in PyTorch backend
  pytensor/link/pytorch/dispatch/scalar.py
  tests/link/pytorch/test_elemwise.py
Labels: enhancement, torch

#1025 Remove `_asarray`
  pytensor/misc/safe_asarray.py
  pytensor/scalar/basic.py
  pytensor/sparse/basic.py
  pytensor/sparse/rewriting.py
  pytensor/tensor/basic.py
  pytensor/tensor/elemwise.py
  pytensor/tensor/extra_ops.py
  pytensor/tensor/math.py
  pytensor/tensor/random/op.py
  pytensor/tensor/rewriting/math.py
  pytensor/tensor/shape.py
  pytensor/tensor/sharedvar.py
  pytensor/tensor/sort.py
  pytensor/tensor/subtensor.py
  pytensor/tensor/type.py
  tests/compile/function/test_pfunc.py
  tests/compile/test_shared.py
  tests/misc/test_may_share_memory.py
  tests/scan/test_basic.py
  tests/sparse/test_basic.py
  tests/tensor/rewriting/test_elemwise.py
  tests/tensor/rewriting/test_math.py
  tests/tensor/test_basic.py
  tests/tensor/test_blas.py
  tests/tensor/test_blas_c.py
  tests/tensor/test_casting.py
  tests/tensor/test_inplace.py
  tests/tensor/test_math.py
  tests/tensor/test_shape.py
  tests/tensor/utils.py
Labels: maintenance

#907 Added Support for Median
  pytensor/tensor/math.py
  tests/tensor/test_math.py
Labels: enhancement, NumPy compatibility

#1045 Cleanup for Optimal Control Ops
  pytensor/tensor/rewriting/blockwise.py
  pytensor/tensor/rewriting/linalg.py
  pytensor/tensor/slinalg.py
  tests/link/jax/test_slinalg.py
  tests/tensor/test_slinalg.py
Labels: enhancement, backend compatibility, graph rewriting, linalg

#1036 Fix bug from too strict type check in `_sum_grad_over_bcasted_dims`
  pytensor/tensor/subtensor.py
  tests/tensor/test_subtensor.py
Labels: bug, gradients, shape inference

#1053 Add extra logging information for cmodule
  pytensor/link/c/cmodule.py
Labels: installation, no releasenotes, C-backend

#1061 Temporarily remove heaviest param of jax test_logsumexp_benchmark
  tests/link/jax/test_elemwise.py
Labels: jax, no releasenotes, tests
