Repository pymc-devs/pytensor, pull requests merged in 2024-02, with the labels that each got.

#623 Test Numba with Python 3.12 instead of 3.11
  .github/workflows/test.yml
Labels: GitHub CI/CD, maintenance, no releasenotes, numba, tests, dependencies

#632 Tame test values on flaky test
  tests/link/numba/test_scan.py
Labels: maintenance, no releasenotes, numba, tests

#636 Disable pre-commit-ci autofix on PRs
  .pre-commit-config.yaml
Labels: maintenance, no releasenotes, pre-commit

#588 Refactor `nlinalg.norm` to match `np.linalg.norm` signature and functionaly
  pytensor/tensor/nlinalg.py
  tests/tensor/test_nlinalg.py
Labels: enhancement, NumPy compatibility, linalg, vectorization

#646 Add labels automatic in dependabot.yml
  .github/dependabot.yml
Labels: GitHub CI/CD, no releasenotes

#634 Add inf special cases to gamma.c function
  pytensor/scalar/c_code/gamma.c
  pytensor/scalar/math.py
  tests/scalar/test_math.py
Labels: enhancement, C-backend, SciPy compatibility
