Repository pymc-devs/pytensor, pull requests merged in 2024-06, with the labels that each got.

#807 Fix bug in nlinalg.slogdet and expose it in linalg module
  pytensor/tensor/nlinalg.py
  tests/tensor/test_nlinalg.py
Labels: bug, maintenance, linalg

#596 Fix E721: do not compare types, for exact checks use is / is not
  pytensor/compile/debugmode.py
  pytensor/compile/ops.py
  pytensor/graph/basic.py
  pytensor/graph/null_type.py
  pytensor/graph/rewriting/unify.py
  pytensor/graph/utils.py
  pytensor/ifelse.py
  pytensor/link/c/params_type.py
  pytensor/link/c/type.py
  pytensor/raise_op.py
  pytensor/scalar/basic.py
  pytensor/scalar/math.py
  pytensor/scan/op.py
  pytensor/sparse/basic.py
  pytensor/tensor/random/type.py
  pytensor/tensor/rewriting/math.py
  pytensor/tensor/type.py
  pytensor/tensor/type_other.py
  pytensor/tensor/variable.py
  pytensor/typed_list/type.py
  tests/graph/rewriting/test_unify.py
  tests/graph/test_fg.py
  tests/graph/test_op.py
  tests/link/c/test_basic.py
  tests/sparse/test_basic.py
  tests/tensor/test_basic.py
  tests/tensor/test_subtensor.py
Labels: maintenance

#781 Switched from miniconda-setup to micromamba-setup for mypy workflow
  .github/workflows/mypy.yml
  .github/workflows/test.yml
Labels: GitHub CI/CD, maintenance, no releasenotes

#731 Break MaxandArgmax Op to seperate TensorMax Op and Argmax Op
  pytensor/ifelse.py
  pytensor/link/jax/dispatch/nlinalg.py
  pytensor/link/numba/dispatch/elemwise.py
  pytensor/tensor/math.py
  pytensor/tensor/rewriting/uncanonicalize.py
  tests/link/jax/test_nlinalg.py
  tests/link/numba/test_elemwise.py
  tests/tensor/rewriting/test_math.py
  tests/tensor/rewriting/test_uncanonicalize.py
  tests/tensor/test_math.py
Labels: maintenance, major, Op implementation

#822 Add jax dispatch for `KroneckerProduct` `Op`
  pytensor/link/jax/dispatch/nlinalg.py
  tests/link/jax/test_nlinalg.py
Labels: jax, OpFromGraph

#764 Add initial support for PyTorch backend
  .github/workflows/test.yml
  pytensor/compile/mode.py
  pytensor/link/basic.py
  pytensor/link/pytorch/dispatch/__init__.py
  pytensor/link/pytorch/dispatch/basic.py
  pytensor/link/pytorch/dispatch/elemwise.py
  pytensor/link/pytorch/dispatch/scalar.py
  pytensor/link/pytorch/linker.py
  tests/link/pytorch/__init__.py
  tests/link/pytorch/test_basic.py
  tests/link/pytorch/test_elemwise.py
Labels: torch

#836 Implement basic Alloc Ops in PyTorch
  pytensor/link/pytorch/dispatch/basic.py
  tests/link/pytorch/test_basic.py
Labels: enhancement, torch

#844 Update `tensor.where` to allow for case with only condition
  pytensor/tensor/basic.py
  tests/tensor/test_basic.py
Labels: enhancement, NumPy compatibility

#863 Upper pin scipy temporarily
  environment.yml
  pyproject.toml
Labels: maintenance, SciPy compatibility

#769 Add rewrite to merge multiple SVD Ops with different settings
  pytensor/tensor/rewriting/linalg.py
  tests/tensor/rewriting/test_linalg.py
Labels: enhancement, graph rewriting, linalg

#867 Implemented JAX backend for Eigvalsh
  pytensor/link/jax/dispatch/slinalg.py
  tests/link/jax/test_slinalg.py
Labels: enhancement, jax, backend compatibility

#846 PyTorch Softmax Ops
  environment.yml
  pytensor/link/pytorch/dispatch/elemwise.py
  tests/link/pytorch/test_elemwise.py
Labels: enhancement, torch

#849 Remove conservative checks for supported Subtensors operations in JAX
  pytensor/link/jax/dispatch/subtensor.py
  tests/link/jax/test_subtensor.py
Labels: jax, maintenance, backend compatibility, indexing

#861 added check for square matrix in make_node to Det
  pytensor/tensor/nlinalg.py
  tests/tensor/test_nlinalg.py
Labels: maintenance, Op implementation, static shape, linalg
