Repository pymc-devs/pytensor, pull requests merged in 2024-09, with the labels that each got.

#910 Implement indexing operations in PyTorch
  pytensor/compile/mode.py
  pytensor/link/pytorch/dispatch/__init__.py
  pytensor/link/pytorch/dispatch/basic.py
  pytensor/link/pytorch/dispatch/subtensor.py
  tests/link/pytorch/test_basic.py
  tests/link/pytorch/test_subtensor.py
Labels: enhancement, torch

#996 Enable ruff to format code in docstrings
  pyproject.toml
  pytensor/compile/builders.py
  pytensor/gradient.py
  pytensor/graph/basic.py
  pytensor/link/c/interface.py
  pytensor/link/c/params_type.py
  pytensor/link/c/type.py
  pytensor/link/numba/dispatch/elemwise.py
  pytensor/printing.py
  pytensor/scalar/basic.py
  pytensor/scan/basic.py
  pytensor/tensor/basic.py
  pytensor/tensor/einsum.py
  pytensor/tensor/elemwise.py
  pytensor/tensor/extra_ops.py
  pytensor/tensor/functional.py
  pytensor/tensor/io.py
  pytensor/tensor/math.py
  pytensor/tensor/utils.py
Labels: docs, no releasenotes, pre-commit

#994 Modernize readthedocs configuration file
  .readthedocs.yaml
Labels: docs, maintenance, no releasenotes

#995 Enable sphinx-lint pre-commit hook
  .pre-commit-config.yaml
  doc/extending/creating_a_c_op.rst
  doc/extending/creating_a_numba_jax_op.rst
  doc/extending/type.rst
  doc/library/compile/io.rst
  doc/library/config.rst
  doc/library/tensor/basic.rst
  doc/library/tensor/conv.rst
  doc/optimizations.rst
  doc/tutorial/adding.rst
  doc/tutorial/prng.rst
  doc/tutorial/symbolic_graphs.rst
Labels: docs, no releasenotes, pre-commit

#998 Fix typo in error message
  pytensor/compile/builders.py
Labels: no releasenotes

#999 Fix test error message
  tests/compile/test_builders.py
Labels: no releasenotes
