Repository pymc-devs/pytensor, pull requests merged in 2024-05, with the labels that each got.

#713 Allow squeezing of specific non-broadcastable axis
  pytensor/tensor/extra_ops.py
  tests/tensor/test_extra_ops.py
Labels: enhancement

#745 Implement `ufunc_outer` like `add.outer` for binary `Elemwise` operations
  pytensor/tensor/elemwise.py
  tests/tensor/test_elemwise.py
Labels: enhancement

#751 Remove restrictive broadcastability check in `local_blockwise_alloc`
  pytensor/tensor/rewriting/blockwise.py
Labels: maintenance, graph rewriting

#738 Fix broadcasting bug in vectorization of RandomVariables
  pytensor/tensor/random/op.py
  pytensor/tensor/random/utils.py
  tests/tensor/random/test_op.py
Labels: bug, vectorization

#750 Implement numpy-like Rayleigh distribution
  pytensor/tensor/random/basic.py
  tests/tensor/random/test_basic.py
Labels: enhancement, NumPy compatibility

#730 Change behavior of helper set/inc to act on an indexed variable directly
  pytensor/tensor/variable.py
  tests/tensor/test_variable.py
Labels: maintenance, major

#754 Fix `scan_checkpoints` with sequences
  pytensor/scan/checkpoints.py
  tests/scan/test_checkpoints.py
Labels: bug, scan

#765 Enable no-cpython-wrapper in numba where possible
  pytensor/link/numba/dispatch/basic.py
  pytensor/link/numba/dispatch/elemwise.py
  pytensor/link/numba/linker.py
  tests/link/numba/test_tensor_basic.py
Labels: maintenance, numba

#773 Fix `local_fill_sink` rewrite for multiple output Elemwise Ops
  pytensor/tensor/rewriting/basic.py
  tests/tensor/rewriting/test_basic.py
Labels: bug, graph rewriting

#776 Remove list_of_nodes in favour of similar applys_between
  pytensor/graph/basic.py
  pytensor/scalar/basic.py
  tests/graph/test_basic.py
Labels: maintenance, major

#774 Inline static size inputs in JAX implementation of RandomVariables
  pytensor/link/jax/dispatch/random.py
  tests/link/jax/test_random.py
Labels: jax, random variables

#777 Make `ifelse` accesible from root
  pytensor/__init__.py
Labels: maintenance

#757 Fix numba AdvancedIncSubtensor1 with broadcasted values
  pytensor/link/numba/dispatch/basic.py
  tests/link/numba/test_basic.py
Labels: bug, numba, indexing

#785 Allow fill_sink rewrite to accomodate changes in broadcastability
  pytensor/tensor/rewriting/basic.py
  tests/tensor/rewriting/test_basic.py
Labels: bug, graph rewriting

#789 Do not reject PatternNodeRewriter due unrelated multiple clients
  pytensor/graph/rewriting/basic.py
  tests/graph/rewriting/test_basic.py
Labels: maintenance, graph rewriting

#794 Do not emmit confusing warning from FusionOptimizer by default
  pytensor/tensor/rewriting/elemwise.py
Labels: maintenance, backend compatibility, C-backend, graph rewriting

#793 Harmonize Scan rewrite and tag names
  pytensor/link/numba/dispatch/scan.py
  pytensor/scan/rewriting.py
  tests/scan/test_rewriting.py
Labels: graph rewriting
