Repository pymc-devs/pytensor, pull requests merged in 2024-12, with the labels that each got.

#958 Implement ScalarLoop in torch backend
  pytensor/link/pytorch/dispatch/elemwise.py
  pytensor/link/pytorch/dispatch/scalar.py
  pytensor/link/pytorch/linker.py
  tests/link/pytorch/test_basic.py
Labels: enhancement, torch

#1113 Make OpFromGraph available at root scope
  pytensor/__init__.py
Labels: maintenance

#1125 Add slowest test issue CI/CD
  .github/workflows/slow-tests-issue.yml
  scripts/slowest_tests/extract-slow-tests.py
  scripts/slowest_tests/update-slowest-times-issue.sh
Labels: GitHub CI/CD, no releasenotes, tests

#1141 Pytensor-native interpolation functions
  pytensor/link/jax/dispatch/extra_ops.py
  pytensor/tensor/__init__.py
  pytensor/tensor/interpolate.py
  tests/link/jax/test_extra_ops.py
  tests/tensor/test_interpolate.py
Labels: enhancement, NumPy compatibility, SciPy compatibility

#1139 More robust check for multiple integer indices in numba ravel_multidimensional_idx rewrites
  pytensor/tensor/rewriting/subtensor.py
Labels: bug, numba, graph rewriting, indexing
