Repository pymc-devs/pytensor, pull requests merged in 2024-07, with the labels that each got.

#797 Rewrite determinant of diagonal matrix as product of diagonal
  pytensor/tensor/rewriting/linalg.py
  tests/tensor/rewriting/test_linalg.py
Labels: enhancement, graph rewriting, linalg

#870 Replace RNG update in RV lift rewrites
  pytensor/tensor/random/rewriting/basic.py
  tests/tensor/random/rewriting/test_basic.py
Labels: bug, graph rewriting, random variables

#779 Add dprint shortcut to FunctionGraph and Function
  pytensor/compile/function/types.py
  pytensor/graph/fg.py
  tests/compile/function/test_types.py
  tests/graph/test_fg.py
Labels: maintenance

#869 Pytorch support for Join and Careduce Ops
  pytensor/link/pytorch/dispatch/basic.py
  pytensor/link/pytorch/dispatch/elemwise.py
  tests/link/pytorch/test_basic.py
  tests/link/pytorch/test_elemwise.py
Labels: enhancement, torch

#837 Add Pytorch support for Cum Op
  doc/conf.py
  doc/environment.yml
  doc/extending/creating_a_numba_jax_op.rst
  pytensor/link/pytorch/dispatch/__init__.py
  pytensor/link/pytorch/dispatch/extra_ops.py
  pytensor/tensor/extra_ops.py
  tests/link/pytorch/test_extra_ops.py
Labels: enhancement, torch

#880 Fix too restrictive type assert
  pytensor/tensor/subtensor.py
  tests/tensor/test_subtensor.py
Labels: bug, typing

#798 Add betainc C implementation
  pytensor/scalar/c_code/incbet.c
  pytensor/scalar/math.py
Labels: enhancement, C-backend

#809 Fix JAX implementation of Argmax
  pytensor/link/jax/dispatch/nlinalg.py
  tests/link/jax/test_extra_ops.py
  tests/link/jax/test_nlinalg.py
Labels: jax, maintenance

#818 Support more cases of advanced indexing in Numba
  pytensor/tensor/rewriting/subtensor.py
  tests/link/numba/test_subtensor.py
Labels: enhancement, numba, backend compatibility, indexing

#886 Fix bug in vectorize of random variables with empty size
  pytensor/tensor/random/op.py
  tests/tensor/random/test_op.py
Labels: bug, vectorization

#796 Add `nan_to_num` helper
  pytensor/tensor/math.py
  tests/tensor/test_math.py
Labels: enhancement, NumPy compatibility

#877 Implemented Eye Op in PyTorch
  pytensor/link/pytorch/dispatch/basic.py
  tests/link/pytorch/test_basic.py
Labels: enhancement, torch

#885 Remove useless SpecifyShape
  pytensor/tensor/rewriting/shape.py
  tests/tensor/rewriting/test_shape.py
Labels: maintenance, graph rewriting, static shape

#735 Keep stack trace in random_make_inplace
  pytensor/tensor/random/rewriting/basic.py
  tests/tensor/random/rewriting/test_basic.py
Labels: maintenance, graph rewriting

#889 Vectorize `make_vector`
  pytensor/tensor/basic.py
  tests/tensor/test_basic.py
Labels: enhancement, vectorization

#790 Replace str "output" by a dummy Op in the clients of the FunctionGraph
  pytensor/compile/debugmode.py
  pytensor/compile/function/types.py
  pytensor/compile/profiling.py
  pytensor/graph/destroyhandler.py
  pytensor/graph/fg.py
  pytensor/graph/rewriting/basic.py
  pytensor/graph/rewriting/utils.py
  pytensor/link/c/basic.py
  pytensor/link/vm.py
  pytensor/printing.py
  pytensor/scan/rewriting.py
  pytensor/tensor/basic.py
  pytensor/tensor/random/rewriting/basic.py
  pytensor/tensor/rewriting/elemwise.py
  pytensor/tensor/rewriting/linalg.py
  pytensor/tensor/rewriting/math.py
  pytensor/tensor/rewriting/shape.py
  tests/graph/test_fg.py
Labels: maintenance, major, graph objects, graph rewriting

#909 Fix Windows build
  pytensor/configdefaults.py
  pytensor/utils.py
Labels: bug

#897 Implemented Sort/Argsort Ops in PyTorch
  pytensor/link/pytorch/dispatch/__init__.py
  pytensor/link/pytorch/dispatch/sort.py
  tests/link/pytorch/test_sort.py
Labels: enhancement, torch

#917 Remove versioneer.py
  pyproject.toml
  pytensor/__init__.py
  pytensor/_version.py
  pytensor/version.py
  scripts/mypy-failing.txt
  setup.py
  versioneer.py
Labels: maintenance, no releasenotes

#921 Remove versioneer.py from the manifest
  MANIFEST.in
  pyproject.toml
Labels: maintenance, no releasenotes

#890 Implemented Repeat and Unique Ops in PyTorch
  pytensor/link/pytorch/dispatch/extra_ops.py
  tests/link/pytorch/test_extra_ops.py
Labels: enhancement, torch

#832 Only consider main branch in README test badge
  README.rst
Labels: docs

#913 Reorganized JAX link folder structure
  pytensor/link/jax/dispatch/__init__.py
  pytensor/link/jax/dispatch/blas.py
  pytensor/link/jax/dispatch/math.py
  pytensor/link/jax/dispatch/nlinalg.py
  tests/link/jax/test_blas.py
  tests/link/jax/test_math.py
  tests/link/jax/test_nlinalg.py
Labels: jax, maintenance, no releasenotes

#929 Include sphinx-design in environment.yml
  environment.yml
Labels: maintenance, no releasenotes

#928 Added new tutorial on PRNGs with RandomVariables
  doc/tutorial/index.rst
  doc/tutorial/prng.rst
Labels: docs, random variables

#926 Implements shape Ops and MakeVector in PyTorch
  pytensor/link/pytorch/dispatch/__init__.py
  pytensor/link/pytorch/dispatch/basic.py
  pytensor/link/pytorch/dispatch/shape.py
  tests/link/pytorch/test_basic.py
  tests/link/pytorch/test_extra_ops.py
  tests/link/pytorch/test_shape.py
  tests/link/pytorch/test_sort.py
Labels: enhancement, torch

#878 Implement Dot and BatchedDot in PyTensor
  pytensor/link/__init__.py
  pytensor/link/pytorch/dispatch/__init__.py
  pytensor/link/pytorch/dispatch/blas.py
  pytensor/link/pytorch/dispatch/math.py
  tests/link/pytorch/test_blas.py
  tests/link/pytorch/test_math.py
Labels: enhancement, torch

#915 Add `OpFromGraph` wrapper around `alloc_diag`
  pytensor/compile/builders.py
  pytensor/link/jax/dispatch/basic.py
  pytensor/tensor/basic.py
  pytensor/tensor/elemwise.py
  pytensor/tensor/rewriting/__init__.py
  pytensor/tensor/rewriting/linalg.py
  pytensor/tensor/rewriting/ofg.py
  tests/link/jax/test_basic.py
  tests/tensor/rewriting/test_linalg.py
  tests/tensor/rewriting/test_ofg.py
Labels: Op implementation, OpFromGraph

#893 Added rewrite for matrix inv(inv(x)) -> x
  pytensor/tensor/rewriting/linalg.py
  tests/tensor/rewriting/test_linalg.py
Labels: enhancement, graph rewriting, linalg

#748 Implement `pad`
  pytensor/link/jax/dispatch/__init__.py
  pytensor/link/jax/dispatch/pad.py
  pytensor/tensor/__init__.py
  pytensor/tensor/extra_ops.py
  pytensor/tensor/pad.py
  pytensor/tensor/subtensor.py
  tests/link/jax/test_pad.py
  tests/link/numba/test_pad.py
  tests/tensor/test_extra_ops.py
  tests/tensor/test_pad.py
  tests/tensor/test_subtensor.py
Labels: enhancement, NumPy compatibility

#920 Implemented nlinalg in PyTorch
  pytensor/link/pytorch/dispatch/__init__.py
  pytensor/link/pytorch/dispatch/nlinalg.py
  tests/link/pytorch/test_nlinalg.py
Labels: enhancement, linalg, torch
