Repository pymc-devs/pytensor, pull requests merged in 2025-07, with the labels that each got.

#1363 Don't run the PyPi job all the time
  .github/workflows/pypi.yml
Labels: help wanted

#1527 Converts negative constant axis to positive if present in `Join(COp)`
  pytensor/tensor/basic.py
  tests/tensor/test_basic.py
Labels: maintenance

#1534 Get rid of pydot-ng because it's deprecated since 7 years
  pyproject.toml
  pytensor/printing.py
Labels: maintenance

#1536 Clean `test_Elemwise`
  tests/link/numba/test_elemwise.py
Labels: maintenance, no releasenotes, tests

#1518 Refactor and update QR Op
  pytensor/link/jax/dispatch/nlinalg.py
  pytensor/link/jax/dispatch/slinalg.py
  pytensor/link/numba/dispatch/linalg/_LAPACK.py
  pytensor/link/numba/dispatch/linalg/decomposition/qr.py
  pytensor/link/numba/dispatch/nlinalg.py
  pytensor/link/numba/dispatch/slinalg.py
  pytensor/link/pytorch/dispatch/__init__.py
  pytensor/link/pytorch/dispatch/nlinalg.py
  pytensor/link/pytorch/dispatch/slinalg.py
  pytensor/tensor/nlinalg.py
  pytensor/tensor/slinalg.py
  tests/link/jax/test_nlinalg.py
  tests/link/jax/test_slinalg.py
  tests/link/numba/test_nlinalg.py
  tests/link/numba/test_slinalg.py
  tests/link/pytorch/conftest.py
  tests/link/pytorch/test_nlinalg.py
  tests/link/pytorch/test_slinalg.py
  tests/tensor/test_nlinalg.py
  tests/tensor/test_slinalg.py
Labels: enhancement, maintenance, linalg

#1541 Canonicalize subtensor negative integer indices
  pytensor/tensor/rewriting/subtensor.py
  tests/tensor/rewriting/test_subtensor.py
  tests/tensor/rewriting/test_subtensor_lift.py
Labels: graph rewriting, indexing

#1551 Fix AdvancedIncSubtensor1 C-compilation with empty indices
  pytensor/tensor/subtensor.py
  tests/tensor/test_subtensor.py
Labels: bug, C-backend, indexing

#1538 Change Dot Op to only accept matrix inputs
  pytensor/tensor/__init__.py
  pytensor/tensor/basic.py
  pytensor/tensor/blas.py
  pytensor/tensor/blas_scipy.py
  pytensor/tensor/math.py
  pytensor/tensor/rewriting/__init__.py
  pytensor/tensor/rewriting/blas.py
  pytensor/tensor/rewriting/blas_scipy.py
  pytensor/tensor/rewriting/linalg.py
  pytensor/tensor/rewriting/math.py
  pytensor/tensor/rewriting/subtensor_lift.py
  tests/graph/rewriting/test_kanren.py
  tests/link/numba/test_basic.py
  tests/tensor/rewriting/test_math.py
  tests/tensor/test_blas.py
  tests/tensor/test_blas_c.py
  tests/tensor/test_blas_scipy.py
  tests/tensor/test_math.py
  tests/test_printing.py
  tests/xtensor/test_math.py
Labels: major, Op implementation, linalg

#1493 Optimize matmuls involving block diagonal matrices
  pytensor/tensor/extra_ops.py
  pytensor/tensor/rewriting/math.py
  pytensor/xtensor/rewriting/shape.py
  tests/tensor/rewriting/test_math.py
  tests/tensor/test_extra_ops.py
Labels: enhancement, graph rewriting, performance, linalg
