Repository pymc-devs/pytensor, pull requests merged in 2025-05, with the labels that each got.

#1394 Fix lu_solve with batch inputs
  pytensor/tensor/slinalg.py
  tests/tensor/test_slinalg.py
Labels: bug

#1402 Implement numba dispatch of StudentT
  pytensor/link/numba/dispatch/random.py
  tests/link/numba/test_random.py
Labels: enhancement, numba, random variables

#1403 Remove dead C code importing time.h
  pytensor/tensor/blas.py
Labels: maintenance, C-backend

#1392 Implement C code for ExtractDiagonal and ARange
  pytensor/tensor/basic.py
Labels: enhancement, C-backend

#1396 Reuse LU decomposition in Solve
  pytensor/compile/mode.py
  pytensor/scan/rewriting.py
  pytensor/tensor/__init__.py
  pytensor/tensor/_linalg/__init__.py
  pytensor/tensor/_linalg/solve/__init__.py
  pytensor/tensor/_linalg/solve/rewriting.py
  pytensor/tensor/rewriting/linalg.py
  tests/tensor/linalg/__init__.py
  tests/tensor/linalg/test_rewriting.py
  tests/tensor/test_blockwise.py
Labels: graph rewriting, performance, linalg

#1408 Fix bug in gemv c code
  pytensor/tensor/blas_c.py
  tests/tensor/test_blas.py
  tests/tensor/test_blas_c.py
Labels: bug, C-backend

#1405 Fix bug in local_blockwise_advanced_inc_subtensor
  pytensor/tensor/rewriting/subtensor.py
  tests/tensor/rewriting/test_subtensor.py
Labels: bug, graph rewriting, vectorization, indexing

#1417 Respect check_finite in LU decomposition rewrites
  pytensor/tensor/_linalg/solve/rewriting.py
  pytensor/tensor/type.py
  tests/tensor/linalg/test_rewriting.py
Labels: bug, graph rewriting, linalg

#1395 Avoid default allocation for taps of length 1 in ScanSaveMem
  pytensor/scan/rewriting.py
  pytensor/tensor/rewriting/basic.py
  tests/scan/test_rewriting.py
Labels: maintenance, graph rewriting, scan

#1029 Support RandomVariable graphs with scalar shape parameters in JAX backend
  pytensor/link/jax/linker.py
  tests/link/jax/test_random.py
Labels: enhancement, jax
