Repository pymc-devs/pytensor, pull requests merged in 2025-02, with the labels that each got.

#1185 Fix bug einsum
  pytensor/tensor/einsum.py
  tests/tensor/test_einsum.py
Labels: bug, NumPy compatibility, Op implementation

#1193 Remove accidental print statements
  pyproject.toml
  pytensor/breakpoint.py
  pytensor/compile/compiledir.py
  pytensor/compile/debugmode.py
  pytensor/compile/mode.py
  pytensor/compile/monitormode.py
  pytensor/compile/nanguardmode.py
  pytensor/compile/profiling.py
  pytensor/graph/features.py
  pytensor/graph/fg.py
  pytensor/graph/rewriting/basic.py
  pytensor/graph/utils.py
  pytensor/link/c/basic.py
  pytensor/link/c/op.py
  pytensor/printing.py
  pytensor/tensor/basic.py
  pytensor/tensor/nlinalg.py
  pytensor/tensor/rewriting/blas.py
  pytensor/tensor/rewriting/elemwise.py
  pytensor/tensor/rewriting/math.py
  scripts/slowest_tests/extract-slow-tests.py
  tests/d3viz/test_d3viz.py
  tests/link/c/test_cmodule.py
  tests/link/numba/test_basic.py
  tests/link/test_vm.py
  tests/scan/test_basic.py
  tests/tensor/rewriting/test_math.py
  tests/tensor/test_complex.py
  tests/tensor/test_fft.py
  tests/tensor/test_shape.py
  tests/test_config.py
  tests/test_printing.py
  tests/unittest_tools.py
Labels: maintenance

#1118 PyTorch inline constants in dispatch to avoid graph breaks
  pytensor/link/pytorch/dispatch/basic.py
  pytensor/link/pytorch/dispatch/scalar.py
  pytensor/link/pytorch/dispatch/shape.py
  pytensor/link/pytorch/dispatch/subtensor.py
  pytensor/link/pytorch/linker.py
  tests/link/pytorch/test_basic.py
Labels: performance, torch

#1202 Only do reshapes in `tensordot` when needed
  pytensor/tensor/math.py
  tests/tensor/test_math.py
Labels: maintenance, performance

#1146 Add LAPACK overloads for all variants of solve in Numba backend
  pytensor/link/numba/dispatch/_LAPACK.py
  pytensor/link/numba/dispatch/basic.py
  pytensor/link/numba/dispatch/slinalg.py
  pytensor/tensor/slinalg.py
  tests/link/numba/test_nlinalg.py
  tests/link/numba/test_slinalg.py
  tests/tensor/test_slinalg.py
Labels: bug, enhancement, numba, SciPy compatibility, linalg

#1222 Fix Blockwise and RandomVariable in Numba with repeated arguments
  pytensor/tensor/blockwise.py
  tests/link/numba/test_blockwise.py
  tests/link/numba/test_random.py
Labels: bug, numba, random variables, vectorization

#1235 Fix solve_triangular output when overwrite_b=True
  pytensor/link/numba/dispatch/slinalg.py
  tests/link/numba/test_slinalg.py
Labels: bug, numba, linalg

#1238 Fix warning message since m2w64-toolchain is no longer installable
  pytensor/configdefaults.py
Labels: installation, maintenance, C-backend

#1219 Update test time action
  scripts/slowest_tests/update-slowest-times-issue.sh
Labels: GitHub CI/CD, no releasenotes

#1236 Add `print_shape` and `print_memory_map` option to `debugprint`
  pytensor/printing.py
  pytensor/tensor/type.py
Labels: enhancement, graph objects

#1242 Fix bug in `local_reshape_to_dimshuffle`
  pytensor/tensor/rewriting/shape.py
  tests/tensor/rewriting/test_shape.py
Labels: bug, graph rewriting

#1243 Don't use numba objectmode with vector boolean `inc_subtensor`
  pytensor/link/numba/dispatch/subtensor.py
  tests/link/numba/test_subtensor.py
Labels: maintenance, numba, indexing

#1252 Handle MvNormal method in Op call
  pytensor/tensor/random/basic.py
  tests/tensor/random/test_basic.py
Labels: NumPy compatibility, random variables

#1255 Improve elemwise docstrings
  pytensor/tensor/elemwise.py
  pytensor/tensor/math.py
Labels: docs
