Repository pymc-devs/pytensor, pull requests merged in 2025-01, with the labels that each got.

#1137 Fix dispatch of Elemwised ScalarLoop in Numba backend
  pytensor/link/numba/dispatch/elemwise.py
  tests/link/numba/test_basic.py
  tests/link/numba/test_elemwise.py
Labels: bug, numba

#1147 Use more conservative fastmath flags in numba backend
  doc/extending/creating_a_numba_jax_op.rst
  pytensor/link/numba/dispatch/basic.py
  pytensor/link/numba/dispatch/blockwise.py
  pytensor/link/numba/dispatch/elemwise.py
  pytensor/link/numba/dispatch/extra_ops.py
  pytensor/link/numba/dispatch/scalar.py
  tests/link/numba/test_basic.py
  tests/link/numba/test_scalar.py
Labels: bug, numba, backend compatibility

#1150 Add example gallery to docs
  doc/.templates/nb-badges.html
  doc/.templates/rendered_citation.html
  doc/blog.md
  doc/conf.py
  doc/core_development_guide.rst
  doc/environment.yml
  doc/extending/creating_a_numba_jax_op.rst
  doc/gallery/page_footer.md
  doc/gallery/rewrites/graph_rewrites.ipynb
  doc/gallery/scan/scan_tutorial.ipynb
  doc/images/PyTensor.png
  doc/images/PyTensor_logo.png
  doc/images/binder.svg
  doc/images/colab.svg
  doc/images/github.svg
  doc/index.rst
  doc/library/index.rst
  doc/library/misc/pkl_utils.rst
  doc/library/sandbox/index.rst
  doc/library/sandbox/linalg.rst
  doc/library/tensor/basic.rst
  doc/robots.txt
  doc/tutorial/loading_and_saving.rst
  environment.yml
  pytensor/graph/utils.py
  scripts/generate_gallery.py
Labels: help wanted, docs, beginner friendly

#1136 Audit GHA workflows with zizmor
  .github/workflows/mypy.yml
  .github/workflows/pypi.yml
  .github/workflows/rtd-link-preview.yml
  .github/workflows/test.yml
  .github/workflows/zizmor.yml
Labels: GitHub CI/CD, no releasenotes, release

#1163 Update actions/attest-build-provenance to v2
  .github/workflows/pypi.yml
Labels: GitHub CI/CD, no releasenotes, release

#1164 Remove duplicated BLAS rewriting code
  pytensor/tensor/blas.py
  tests/tensor/rewriting/test_blas.py
  tests/tensor/test_blas.py
Labels: maintenance, no releasenotes

#1168 Fix attestations
  .github/workflows/pypi.yml
Labels: bug, GitHub CI/CD, no releasenotes

#1171 Use latest platforms to build wheels
  .github/workflows/pypi.yml
Labels: GitHub CI/CD, no releasenotes

#1179 Add rewrite for `1 ** x = 1`
  pytensor/tensor/rewriting/math.py
  tests/tensor/rewriting/test_math.py
Labels: enhancement, graph rewriting

#1183 Small tweaks the prng doc
  doc/tutorial/prng.rst
Labels: docs

#1180 Fix broken docs references
  doc/core_development_guide.rst
  doc/extending/creating_a_c_op.rst
  doc/extending/creating_an_op.rst
  doc/extending/inplace.rst
  doc/extending/other_ops.rst
  doc/library/tensor/random/index.rst
  doc/tutorial/examples.rst
Labels: docs
